<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>All Users</h1>
<br><br>
<table>
    <tr>
        <th>Name</th>
        <th>lastName</th>
        <th>age</th>
        <th>email</th>
    </tr>
    <th:block th:each="user : ${userList}">
        <tr>
            <td>
                <h2 th:text="${user.firstName}"></h2>
            </td>
            <td>
                <h2 th:text="${user.lastName}"></h2>
            </td>
            <td>
                <h2 th:text="${user.age}"></h2>
            </td>
            <td>
                <h2 th:text="${user.email}"></h2>
            </td>
        </tr>
    </th:block>
</table>
<br><br>
<input type="button" value="ADD Users" onclick="window.location.href = 'addNewUser'"/>
</body>
</html>